                                                /* common */
body{
    margin: 0;
    padding: 0;
    min-width: 280px;
}

*{
    box-sizing: border-box;
}

ul,li{
    list-style: none;
    padding: 0;
}



                                                /* header */

.page-header{
    max-width: 1340px;
    height: 92px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    align-items: center;
}

.header-article1{
    width: 499px;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-article1-moreInfButton{
    width: 32px;
    height: 12px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    padding: 0;
    margin-right: auto;
}

.header-article1-list{
    width: 408px;
    /* display: flex;
    justify-content: space-between; */
    /* align-items: center; */
    margin: 0;
}

.header-article1-row1{
    /* height: 18px; */
    width: 408px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* margin: 0; */
    margin-top:15px;
    margin-bottom:20px;
}

.header-article1-row2{
    display: none;
    /* width: 408px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 15px; */
    
}

.header-logo{
    margin:0 auto;
}

.header-article2{
    width: 492px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.header-article2-buttons{
    width: 53px;
    height: 19px;
    display: flex;
    justify-content: space-between;
}

.header-article2-xzButton , .header-article2-serchButton{
    border:none;
    background-color: rgba(255, 255, 255, 1);
    padding:0;
}

.header-article2-mediaInf{
    width: 132px;
    height: 40px;
}

.header-article2-number{
    margin: 0;
    margin-bottom: 6px;
}

.header-article2-email{
    margin: 0;
}

.header-article2-registerButton{
    width: 190px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

                                                            /* breadcrams */

.breadcrams{
    width: 100%;
    height: 60px;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.breadcrams-wrapper{
    width: 131px;
    height: 14px;
    /* margin:21px auto 25px auto; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrams-point{
    width: 1px;
    height: 1px;
    border-radius: 50%;
}
                                                        /* Info1-topBackground */
.Info1-topBackground{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 1);
    margin-bottom: 62px;
}

h1{
    margin: 0;
}


                                                      /* section Info1*/

.Info1{
    margin-bottom: 50px;
}

.Info1-wrapper {
    display: flex;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 25px;
}

.Info1-Part1 {
    width: 506px;
    margin-right: auto;
}

.Info1-Part1-numberEmail{
    display: flex;
    flex-direction: column;
}

.Info1-Part1-number{
    margin:0;
}

.Info1-Part1-email{
    margin: 0;
    margin-bottom: 20px;
}

.Info1-Part1-group1{
    margin: 0;
    margin-bottom: 15px;
}

.Info1-Part1-group1 p , .Info1-Part1-group1-item:first-child{
    margin: 0;
    margin-bottom:5px;
}

.Info1-Part1-group1-item:last-child{
    margin: 0;
}

.Info1-Part1-group2-item{
    margin: 0;
    margin-bottom:3px;
}

.Info1-Part1-group2-MarginItem{
    margin-bottom: 17.5px;
}

.Info1-Part2{
    width: 630px;
    height: 395px;
}
                                            
.Info1-Part2 h2{
    margin: 0;
    margin-bottom: 20px;
}

form{
    width: 630px;
    height: 335px;
}

.Info1-Part2-NameNumber{
    width: 630px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.Info1-Part2-NameNumber input{
    width: 300px;
    height: 52px;
    border-radius: 14px;
    border:none;
    background-color: rgba(245, 245, 245, 1);
    padding:17px 0 11px 20px

}

.Info1-Part2-textarea{
    width: 630px;
    height: 133px;
    padding: 17px 0 92px 20px;
    border: none;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 14px;
    margin-bottom: 20px;
}

.Info1-Part2-agreeing{
    width: 630px;
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#Info1-Part2-checkbox{
    /* appearance: none;
    -webkit-appearance:none; */
    margin: 0;
    margin-right: 16px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.Info1-Part1-agreeing-text{
    width: 594px;
    height: 16px;
}

input[name = "Ask-button"]{
    width: 192px;
    height: 52px;
    padding: 19px 36px;
    border-radius: 14px;
    cursor: pointer;
}

                                                        /* section map */
.map{
    max-width: 1290px;
    margin: 0 auto;
}



                                                       /* section cities */

.cities {
    margin-top: 60px;
    margin-bottom: 100px;
    width: 100%;
    padding: 25px;
}

.cities-list {
    min-width: 288px;
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* column-gap:100px;
    row-gap: 15px; */
    gap:30px;
}

.cities-item {
    width: 300px;
    height: 310px;
    padding: 33px 16px 40px 22px;
    display: flex;
    flex-direction: column;
}

.cities-item:last-child{
    width: 630px;
    /* margin: 0 auto; */
}

.cities-item h2 {
    width: 190px;
    height: 29px;
    margin:0 auto 15px 0;
}

.cities-item-number1, 
.cities-item-number2 {
    margin: 0;
    margin-bottom: 5px;
    height: 29px;
}

.cities-lastItem-br{
    display: none;
}

.cities-item address {
    margin-bottom: 8px;
    height: 22.5px;
}

.cities-item:first-child address{
    height: 62.5px;
}

.cities-item a {
    margin-bottom: 15px;
    height: 22.5px;
}

.cities-item-workTime {
    height: 20px;
    margin: 0;
    margin-bottom: auto;
}

                                                /* footer */

.footer-leftRight {
    width: 100%;
    display: flex;
    /* height: 400px; */
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.footer-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 400px;
    background-color: rgba(34, 34, 37, 1);
    padding-top: 63px;
    padding-right:156px;
}

.footer-left-list1{
    width: 331px;
    height: 166px;
    margin: 0 158px 69px auto;
}

.footer-left-list1-move{
    display: none;
}

.footer-left-list2{
    display: flex;
    flex-wrap: wrap;
    width: 488px;
    height: 58px;
    margin: 0 0 43px auto;
}

.footer-left-list2-item{
    margin-right: 21px;
}

.footer-left-list2-move{
    margin: 0;
}

.footer-right {
    flex: 1;
    height: 400px;
    background-color: rgba(42, 42, 46, 1);
    padding: 63px 31px 0 127px;
    display: flex;
    flex-direction: column;
}

.footer-right-top{
    width: 520px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px 0;
}

.footer-right-number1 , .footer-right-number2{
    margin: 0;
}

.footer-right-top a{
    width: 190px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-right-email{
    width: 203px;
    height: 34px;
    margin: 0 auto 97px 0;
}

.footer-right address{
    width: 447px;
    height: 42px;
    margin: 0 auto 55px 0;
}

.footer-lastInfo{
    width: 100%;
    display: flex;
    height: 68px;
}

.footer-lastInfo-left{
    display: flex;
    flex:1;
}

.Coopiright_policy{
    width: 234px;
    height: 14px;
    margin: 23px 410px 31px auto;
}

.footer-lastInfo-right{
    display: flex;
    flex:1;
    padding-left:2px
}

.DevelopingSite{
    display: flex;
    justify-content: space-between;
    width: 244px;
    height: 14px;
    margin:21px auto 31px 127px
}

.DevelopingSite p , .DevelopingSite a{
    margin: 0;
}


                                                                            /* media */
                                                                        /* разметка при ширине экрана меньше 1350px */
@media(max-width:1350px){
                                                                /*cities   (media)*/

    .cities-list {
        column-gap: 25px;
        justify-content: center;
    }                                                

    .cities-item{
        width: 500px;
    }

    .cities-item:last-child{
        margin: 0 auto;
        width: 750px;
    }

                                                            /* footer (media) */

    .footer-left{
        padding-left:25px;
    }

    .footer-left-list1{
        margin:0 auto 69px 0
    }

    .footer-left-list2{
        width: 349px;
        height: 87px;
        margin: 0 auto 47px 0;
    }

    .footer-left-list2-move{
        margin-right: 21px;
    }

    .footer-right{
        padding-right: 25px;
    }

    .footer-right-top{
        flex-direction: column;
        margin: 0 auto 15px auto;
        height: 160px;
        width: 285px;
    }

    .footer-right-numbers{
        /* width: 285px; */
        margin: 0;
        margin-bottom: 20px;
    }

    .footer-right-email{
        margin: 0 auto 33.02px auto;
        position: relative;
        right: 40px;
    }

    .footer-right address{
        width: 290px;
        height: 55.27px;
        margin: 0 auto 58.66px auto;
    }

    .footer-lastInfo-left{
        padding: 0 156px 0 25px;
    }

    .Coopiright_policy{
        margin: 23px auto 31px 0;
    }

    .footer-lastInfo-right{
        padding: 0 25px 0 127px; 
    }

    .DevelopingSite{
        position: relative;
        right: 20px;
        margin: 23px auto 31px auto;
    }


}


                                                                        /* разметка при размере экрана меньше  1320px*/

@media(max-width:1320px){

                                                    /* header (media) */

    .header-article1-row1{
        width: 197px;
        margin: 0;
    }                                                

    .header-article1-item:last-child{
        display:none;
    }

    .header-article1{
        /* width: 499px; */
        width: 268px;
        height: 23px;
        /* margin-right: 100px; */
    }

    .header-article1-list{
        /* width: 408px; */
        width: 197px;
        height: 20px;
    }

    .header-article2{
        margin:0;
        width: 232px;
        /* margin-right: auto; */
        margin-left:40px;
    }

    .header-article2-registerButton{
        display:none;
    }

                                                     /* Info1 (media)  */

    .Info1-Part1{
        margin-right: 150px;
    }
}


                                                                        /* разметка при размере экрана меньше  1150px*/

@media(max-width:1150px){

                                                        /* header (media)  */

    
    .header-article1{
        width: 268px;
        height: 23px;
        /* margin-right: 100px; */
    }

    .header-article1-list{
        width: 197px;
        height: 20px;
    }

    .header-article2{
        width: 232px;
        margin-right:0;
        /* margin-left:15px; */
    }

                                                        /* Info1  (media) */

    .Info1 h1{
        font-size:32px;
    }

    .Info1-Part1 h1{
        width: 230px;
    }

    .Info1-Part1-number{
        font-size: 28px;
        line-height: 120%;
    }

    .Info1-Part1-group1 h2,p{
        font-size:14px;
        line-height: 140%;
    }

    .Info1-Part2{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    }

    .Info1-Part2 h2{
        font-size: 28px;
        line-height: 120%;
        color:rgba(33, 33, 33, 1);
        margin-right: auto;
    }

    .Info1-Part2 form{
        height: 443px;
        width: 350px;
    }

    .Info1-Part2-NameNumber{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 130px;
        margin: 0;
        margin-bottom: 12px;
    }

    .Info1-Part2-NameNumber input{
        width: 100%;
    }

    .Info1-Part2-textarea{
        width: 350px;
    } 

    .Info1-Part2-agreeing{
        width: 350px;
        /* padding-right: 27px; */
        height: 32px;
        align-items: stretch;
    }

                                            /* footer (media) */

    footer{
        height: 420px;
    }

    .footer-left{
        height: 360px;
        padding:43px 25px 0 25px;
    }

    .footer-left-list1{
        margin-bottom: 46px;
        width: 331px;
    }

    .footer-left-list2{
        width: 290px;
    }

    .footer-left-list2 li:nth-child(3n){
        margin:0
    }

    /* .footer-left-list1-item:first-child{
        display: block;
        margin-bottom: 6px;
    } */

    /* .footer-left-list1-move{
        display: inline;
    } */

    .footer-right{
        padding: 43px 25px 0 25px;
        height: 360px;
    }

    .footer-right-email{
        margin-bottom: 15px;
    }

    .footer-lastInfo-left{
        padding-right: 40px;
    }

    .Coopiright_policy{
        margin:20px auto 27px 0;
    }

    .footer-lastInfo-right{
        padding-left: 40px;
    }

    .DevelopingSite{
        margin: 20px auto 27px auto;
    }
}

                                                                    /* разметка при ширине экрана в 1080px */

@media(max-width:1080px){
    /* .cities-list{
        gap:30px
    } */

    .cities-item{
        width: 367.5px;
    }

    .cities-item:last-child{
        width: 750px;
    }
}

                                                                    /* разметка  при размере экрана меньше  830px*/
@media(max-width:830px){

                                            /* Info1  (media) */
    .Info1-Part1{
        margin-right:72px;     
    }
    
    .Info1-Part1-group1 , .Info1-Part1-group2{
        padding-right: 65px;
    }

                                            /* cities  (media) */

    .cities-list{
        gap: 10px;
    }

    .cities-item{
        width:288px ;
    }

    .cities-item:last-child{
        height: 395px;
        width:600px;
    }

    .cities-lastItem-br{
        display: inline;
    }

    .cities-item:last-child .cities-item-number1 , .cities-item:last-child .cities-item-number2{
        width:245px ;
        height: auto;
        line-height: 150%;
    }

    .cities-item:last-child address{
        height: auto;
        width: 276px;
    }

    .cities-item:last-child .cities-item-workTime{
        width: 217px;
    }

    .cities-item:last-child a{
        width:144px;
    }
}

                                                                        /* разметка  при размере экранe меньше  768px*/

@media(max-width:768px){

    .header-logo{
        margin: 0;
        margin:0 auto;
    }

    .header-article1{
        width: 23px;
        /* margin-right: auto; */
        margin-right:20px;
    }

    .header-article1-list{
        display: none;
    }

    .header-article2{
        margin:0;
        width: 51px;
        /* margin-left:50px;
        width: 232px; */
        margin:0;
    }

    .header-article2-mediaInf{
        display: none;
    }

                                                    /* Info1  (media) */
    .Info1-wrapper{
        flex-direction: column;
        /* min-width: 320px; */
    }
    
    .Info1-Part1{
        max-width: 718px;
        /* min-width: 287px; */
        margin: 0 auto 50px auto;
    }

    .Info1-Part1-group1 , .Info1-Part1-group2{
        /* margin-left: 30px; */
        padding:0;
        position: relative;

    }

    .Info1-Part1-numberEmail{
        flex-direction: row;
    }

    .Info1-Part1-number{
        position: relative;
        bottom:1px;
        margin-right: 30px;
    }
    
    .Info1-Part1-email{
        line-height: 100%;
    }


    .Info1-Part2{
        width: 450px;
        height: 487px;
        margin: 0 auto;
        position: relative;
        right:25px
    }

    .Info1-Part2 form{
        width: 450px;
    }

    .Info1-Part2-NameNumber{
        width: 450px;
    }

    .Info1-Part2-textarea{
        width: 450px;
    } 

    .Info1-Part2-agreeing{
        width: 450px;
    }
                                                        /* footer(media) */

    .footer-left{
        padding-top:20px;
    }
    
    .footer-left-list1{
        width: 188px;
        height: 150px;
        margin-bottom: 25px;
    }
                        
    .footer-left-list1-move{
        display: inline;
    }

    .footer-left-list1-item:first-child a{
        line-height: 120%;
    }
    
    .footer-left-list1-item:first-child{
        margin-bottom: 6px;
    }

    .footer-left-list2{
        height: 145px;
        width: 210px;
        margin-bottom: 15px;
    }

    .footer-left-list2 li:nth-child(3n){
        margin-right: 21px;
    }

    .footer-left-list2 li:nth-child(2n){
        margin:0;
    }
    
    .footer-right{
        padding-top:20px;
    }

    .footer-right-top{
        width: 207px;
    }

    .footer-right-numbers{
        width: 207px;
    }

    .footer-right-email{
        position: relative;
        left: 0;
        right: 25px;
        width: 150px;
        height: 18.42px;
        /* margin: 0; */
    }

    .footer-right address{
        width: 220px;
        height: auto;
    }

    .footer-lastInfo-left{
        padding-right: 25px;
    }

    .footer-lastInfo-right{
        padding-left: 25px;
    }

    .DevelopingSite{
        position: relative;
        left:0;
        right:0;
        margin: 20px auto 27px auto;
    }

}

                                                                    /* разметка при ширине экрана в 636px */

                                                         /* cities  (media) */

@media(max-width:636px){
    .cities-item{
        width: 450px;
    }


                                                       /* footer(media) */

    .footer-right-top{
        margin: 0 auto 15px 0;
    }

    .footer-right-email{
        margin: 0 auto 15px 0;
    }

    .footer-right address{
        width: 200px;
        height: 80px;
        margin: 0 auto 58.660px 0;
    }

    .Coopiright_policy{
        width: 124.71px;
        display: flex;
        flex-direction: column;
        height:28px ;
    }

    .DevelopingSite{
        display: flex;
        flex-direction: column;
        height: 26px;
        width: 210px;
    }

    .DevelopingSite a{
        margin: 3px 110px 0 80px;
    }


}


                                                                    /* разметка при размере экрана меньше  550px */

@media(max-width:550px){
    .Info1-wrapper{
        width: 350px;
        padding: 0;
    }

    .Info1-Part1{
        width: 350px;
        margin: 0;
        margin-bottom: 50px;
        /* position: relative;
        left: 15px; */
    }
    
    .Info1-Part2{
        width: 300px;
    }

    .Info1-Part1-numberEmail{
        flex-direction: column;
        width: 350px;
        /* margin: 0 auto 20px auto; */
        /* position: relative;
        left: 35px */
    }

    .Info1-Part1-number{
        margin-right: auto;
        /* margin:0 auto; */
        margin-bottom: 6px;
    }
    
    .Info1-Part1-email{
        margin-right: auto;
        /* margin:0 auto; */
    }

    .Info1-Part1-group1 , .Info1-Part1-group2{
        width: 350px;
    }

    .Info1-Part2{
        width: 350px;
        height: auto; 
        position: relative;
        right:0;
        /* left:25px; */
        margin-bottom: 30px; 
    }

    .Info1-Part2 form{
        width: 350px;
        height: auto; 
        /* position: relative;
        left:5px */
    }

    .Info1-Part2-NameNumber{
        width: 350px;
        height: 130px;
        margin-bottom: 10px; 
    }
    
    .Info1-Part2-NameNumber input{
        height: 60px
    }

    .Info1-Part2-textarea{
        width: 350px;
        height: 166px;
        margin-bottom: 20px;
    }

    .Info1-Part2-agreeing{
        width: 350px;
        height: 48px;
        margin-bottom: 21px;
        align-items: stretch;
    }

    input[name = "Ask-button"]{
        display: block;
        width: 190px;
    }


                                              /* footer (media) */

    .footer-leftRight{
        flex-direction: column;
        height: 703.34px;
    }

    .footer-left{
        height: 348px;
    }

    .footer-left-list1{
        margin: 0 auto 35px auto; 
        width: 280px;
        height: 136px;
    }
    
    .footer-left-list1-item:first-child{
        margin: 0;
    }

    .footer-left-list2{
        height: 116px;
        width: 284px;
        margin: 0 auto;
    }
    
    .footer-left-list2 li:nth-child(2n){
        margin-right: 21px!important;
    }

    .footer-left-list2 li:nth-child(3n){
        margin: 0;
    }

    .footer-righ address{
        margin-bottom: 40px !important
    }

    .footer-right{
        height: 320px !important
    }

    .footer-right-top{
        margin: 0 auto 15px auto;
    }

    .footer-right-email{
        margin: 0 auto 15px auto;
        position: relative;
        left: auto;
        right: 25px
    }

    .footer-right address{
        width: 290px;
        height: 80px;
        margin: 0 auto 20px auto;
        position: relative;
        left: 35px;
    }

    .footer-lastInfo{
        background-color: rgba(42, 42, 46, 1);
        flex-direction: column;
        height: 84.66px;
    }

    .footer-lastInfo-left{
        background-color: rgba(42, 42, 46, 1);
        padding: 0;
        height: 43.66px;
        
    }
    .Coopiright_policy{
        margin: 19.66px auto 10px auto;
        display: flex;
        flex-direction: row;
        height: 14px;
        width: 234px;
    }

    .footer-lastInfo-right{
        padding: 0;
        height: 41px;
    }

    .DevelopingSite{
        width: 243px;
        height: 12.48px;
        margin: 0 auto auto auto;
        flex-direction: row;
    }

    .DevelopingSite a{
        margin: 0;
    }


}

                                                                    /* разметка при ширине экрана меньше 400px */

@media(max-width:400px){

                                                    /* Info1 (media) */
    .Info1-wrapper{
        margin: 0 auto;
        width: 287px;
    }

    .Info1-Part1{
        width: 287px;
        margin: 0 18px 0 15px;
        margin-bottom: 50px;
    }
    
    .Info1-Part2{
        width: 287px;
        margin: 0 18px 0 15px;
    }

    .Info1-Part1-numberEmail{
        width: 287px;
    }

    .Info1-Part1-number{
        margin-right: auto;
        /* margin:0 auto; */
        margin-bottom: 6px;
    }
    
    .Info1-Part1-email{
        margin-right: auto;
        /* margin:0 auto; */
    }

    .Info1-Part1-group1 , .Info1-Part1-group2{
        width: 287px;
    }

    .Info1-Part2{
        width: 287px;
        height: auto; 
        position: relative;
        right:0;
        /* left:25px; */
        margin: 0;
        margin-bottom: 30px; 
    }

    .Info1-Part2 form{
        width: 287px;
        height: auto; 
        /* position: relative;
        left:5px */
    }

    .Info1-Part2-NameNumber{
        width: 287px;
        height: 130px;
        margin-bottom: 10px; 
    }
    
    .Info1-Part2-NameNumber input{
        height: 60px
    }

    .Info1-Part2-textarea{
        width: 287px;
        height: 166px;
        margin-bottom: 20px;
    }

    .Info1-Part2-agreeing{
        width: 287px;
        height: 48px;
        margin-bottom: 21px;
        align-items: stretch;
    }

    input[name = "Ask-button"]{
        display: block;
        width: 190px;
    }


                                                /* cities  (media) */

    .cities{
        padding:0;
    }

    .cities-item{
        width: 288px;
    }
                                                /* footer (media) */

    .footer-right address{
        width: 240px;
        height: 80px;
        margin: 0 auto 30px auto;
        position: relative;
        left: 15px;
    }
}

                                                                    /* разметка при размере экрана меньше  320px*/
                                                                        

@media(max-width:320px){            

                                                        /* header  (media)  */

    .header-logo img{
        width:67.03px;
        height: 40px;
    }
}