                                                    /* Common */

@import url(https://db.onlinewebfonts.com/c/575fc498ad34ad0f411e618dad9ed36a?family=Graphik+LC+Web+Regular);

body{
    font-family:"Golos Text", sans-serif;
    background-color:rgba(255, 255, 255, 1);
    color:rgba(38, 38, 51, 1);
    line-height: 100%;
    font-weight: 400;
}

a{
    text-decoration: none;
}

.redButton{
    font-family: 'RoadRadio';
    font-size: 14px;
    
    color: rgba(255, 255, 255, 1);
    background-color: rgba(191, 39, 56, 1);
}

.activePage{
    color:rgba(121, 121, 134, 0.2);
}

@font-face {
    font-family: 'RoadRadio';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/RoadRadio.woff2) format(woff2);
    
}

@font-face {
    font-family: "Graphik LC Web Regular";
    src: url("https://db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.eot");
    src: url("https://db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/575fc498ad34ad0f411e618dad9ed36a.svg#Graphik LC Web Regular")format("svg");
}

@font-face {
	font-family: 'AkzidenzGroteskPro-Regular';
	src: url('../fonts/akzidenzgroteskpro-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/akzidenzgroteskpro-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/akzidenzgroteskpro-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/akzidenzgroteskpro-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/akzidenzgroteskpro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/akzidenzgroteskpro-regular.svg#akzidenzgroteskpro-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}


                                                    /* header */

.header-article1-item a{
    text-decoration:none;
    font-size:15px;
    line-height:100%;
}

.header-article2-number{
    font-weight: 500;
    font-size: 15px;
    
}

.header-article2-email{
    font-family: "Graphik LC Web Regular";
    font-size:13px;
    line-height:120%;
    color:rgba(121, 121, 134, 1);
}


                                                    /* main */

                                                  /* breadcrums */
                                                  
.breadcrams-main{
    color:rgba(121, 121, 134, 1);
    font-size:12px;
    line-height:100%;
}

.breadcrams-point{
    border-radius:50%;
    background-color: rgba(121, 121, 134, 1);
}

                                                 /* section Info1 */
 
.Info1 h1{
    font-family: "RoadRadio";
    font-size:46px;
    line-height:100%;
}

.Info1-Part1-number{
    font-size: 36px;
    line-height: 110%;
    font-family: "RoadRadio";
}

.Info1-Part-email{
    font-size: 25px;
    color: rgba(191, 39, 56, 1);
}

.Info1-Part1-group1 h2,p{
    font-size:17px;
    line-height: 110%;
}

.Info1-Part1-group2-item{
    font-size: 13px;
    line-height: 150%;
    color: rgba(128, 128, 128, 1);
    font-weight: 400;
}

input::placeholder , textarea::placeholder{
    font-size: 16px;
    line-height: 150%;
    color: rgba(121, 121, 134, 1);
}

label{
    color: rgba(128, 128, 128, 1);
}

.Info1-Part1-agreeing-link{
    color:rgba(38, 38, 51, 1);
}

input[name = "Ask-button"]{
    border:none;
}

                                                /* section cities */

.cities-item{
    border-radius:20px;
    background-color: rgba(245, 245, 245, 1);
}

.cities-item h2{
    font-family: "RoadRadio";
    font-size: 26px;
    line-height: 110px;
}

.cities-item-number1 , .cities-item-number2{
    font-size: 19px;
    line-height: 150%;
}

.cities-item address{
    font-style: normal;
    font-size: 14px;
    line-height: 140px;
    color:rgba(121, 121, 134, 1);
}

.cities-item a{
    font-size: 14px;
    line-height: 140px;
    color:rgba(191, 39, 56, 1);
}

.cities-item-workTime{
    font-size: 14px;
    line-height: 140%;
}
                                                    /* footer */

                                                /* section footer-left */

.footer-left{
    background-color: rgba(34, 34, 37, 1);
}
                                                
.footer-left-list2-item a{
    font-family: 'AkzidenzGroteskPro-Regular';
}

.footer-left-list1-item a{
    color:rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 140%;
}

.footer-left-list2-item a{
    font-size: 16px;
    line-height: 180%;
    color: rgba(121, 121, 134, 1);
}

                                            /* section footer-right */
                                            
.footer-right{
    background-color: rgba(42, 42, 46, 1);
}

.footer-right-number1 , .footer-right-number2{
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
}

.footer-right-top a{
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: "RoadRadio";
}

.footer-right-email{
    color: rgba(242, 49, 71, 1);
    font-size: 24px;
    line-height: 140%;
}

.footer-right address{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 130%;
    font-family: 'AkzidenzGroteskPro-Regular';
}



                                                /* section footer-lastInfo */

                                                   /* Coopiright_policy */
.Coopiright_policy{
    background-color: rgba(34, 34, 37, 1);
}

.Coopiright_policy span{
    color:rgba(121, 121, 134, 1);
    font-size: 13px;
    line-height: 110%;
    font-family: 'AkzidenzGroteskPro-Regular';
}

                                                    /* DevelopingSite */

.DevelopingSite{
    background-color:rgba(42, 42, 46, 1);
}

.DevelopingSite a,p{
    font-size: 13px;
    line-height: 110%;
    font-family: 'AkzidenzGroteskPro-Regular';
}

.DevelopingSite p {
    color: rgba(121, 121, 134, 1);
}

.DevelopingSite a{
    color: rgba(190, 190, 190, 1);
}
    